@keyframes slide-in-out {
  0% {
    transform: translateY(150%);
  }

  12% {
    transform: translateY(0);
    opacity: 1;
  }

  90% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(150%);
    opacity: 0;
  }
}
